body {
}
header {
	text-align:center;
	border-bottom:1px solid black;	
	font-weight:bold; font-family:"Comic Sans MS", cursive, sans-serif;	
}


nav table{
	
}
table#navTable{
			    
		}
footer {
	text-align:center; 
	list-style: outside none none;	
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid black;
	border-bottom:none;
}

div#divBody{
	border-style: solid;
	border-width: 1px 0;
}

/* unvisited link */
a:link {
    color: blue;
	text-decoration:underline;
}

/* visited link */
a:visited {
    color: purple;
	font-weight:bold;
}

/* mouse over link */
a:hover {	
    font-weight:bold;
}

/* selected link */
a:active {
    text-decoration:none;	
}
