/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    
}

footer {
    margin: 50px 0;
}

.btn {
    white-space: normal;
    background: #03080A;    
}

.wide {
    width:100%;
    height:100%;
    height:calc(100% - 1px);
    background-image:url(blacksmith_banner.jpg);
    
    background-size:cover;
}

.wide img {
    width:100%;
    background-image:url(blacksmith_banner.jpg);
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:center;
    background-image:url(blacksmith_banner.jpg);
    width:100%;
    height:100%;
    height:calc(100% - 1px);
    
    
    background-size:cover;
}

.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
}