/* page background */

/* header and row formatting */
th {
	background-color:grey;
}

td {
	font-style:italic;
}

h2 {
	font-weight:bold; font-family:"Comic Sans MS", cursive, sans-serif;	
}

h3 {
	font-weight:bold; font-family:"Comic Sans MS", cursive, sans-serif;	
}

h4 {
	font-weight:bold; 
}

li {
	list-style-type: circle; font-family:"Comic Sans MS", cursive, sans-serif; font-style: italic;
}

/* hyperlink button behaviour */
a:link, a:visited, a:active {
        
    padding:14px 25px;
    text-align:center; 
    text-decoration:none;
    display:inline-block;
	text-decoration:none;
}
a:hover {
	background-color:#C6CACC;
	color:red;
	text-decoration:underline;
}

td#trackRows{
	font-style:italic;	
}

